body {
    width: 60%;
    margin: auto;
    max-width: 800px;
    margin-top: 4em;
    margin-bottom: 10em;
}

img {
    display:block;
    max-width:80%;
    margin:auto;
}

@media screen and (max-width: 780px) {
    body {
        width: 80%;
        margin-top: 1em;
    }
}

@media screen and (max-width: 540px) {
    body {
        width: 90%;
    }
}

